extends layout

block content
    div(class="d-flex justify-content-center", style="padding: 50px; margin-top: 40px;")
        div(style="padding: 40px 100px; background-color: #F5B941; color: black;",) Submitted successfull! Redirecting....
    script(src="/javascripts/success.js")